.DesktopNavigation {
  display: flex;
}

.MobileNavigation {
  display: none;
  .menuIcon{
    background-color: var(--hanburger-NavIcon-bg-color);
    border: none;
    border-radius: 4px;
  }
}

/* På mindre skärmar visas MobileNavigation och DesktopNavigation döljs */
@media (max-width: 768px) {
  .DesktopNavigation {
    display: none;
  }
  .MobileNavigation {
    display: flex;
    align-items: center;
  }
}
