.productDetailWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--productDetail-bg-color);
    border-radius: 10px;
    box-shadow: var(--productDetail-boxShadow-color);
    max-width: 800px;
    margin: 0 auto; 
  }
  
  .productImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: var(--productDetail-h1-color);
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: var( --productDetail-p-color);
    margin: 5px 0;
  }
  
  
  
  /* Media query för mindre skärmar */
  @media (max-width: 768px) {
    .productDetailWrapper {
      padding: 10px;
      margin: 10px;
      max-width: 100%; 
    }
  
    h1 {
      font-size: 1.5rem; 
    }
  
    p {
      font-size: 0.9rem; 
    }
  
  }
  
  /* Media query mobiltelefoner*/
  @media (max-width: 480px) {
    .productImage {
      max-width: 90%; 
      margin-bottom: 15px;
    }
  
    h1 {
      font-size: 1.2rem; 
    }
  
    p {
      font-size: 0.8rem;
    }
  
  }
  