.heading{
  font-size: 3rem;
  color:var(--home-heading-color);
  font-family:var(--home-heading-font-family);
  text-align: center;
}


.homepageParagraph {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
