.addToCartButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #df8080;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addToCartButton:hover {
  background-color: #8e6767;
}

/* Media query för mindre skärmar */
@media (max-width: 768px) {
  .addToCartButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

/* Media query mobiltelefoner*/
@media (max-width: 480px) {
  .addToCartButton {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
